In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\99acres_backup.csv')

In [5]:
df.head(1)

,Mapsko Paradise\n3.9,"Mapsko Paradise\nSector 83, Gurgaon","₹ 95 Lac+ Govt Charges & Tax\n@ 11,875 per sq.ft. (All inclusive, Negotiable) View Price Details",Super Built up area 1050\n(97.55 sq.m.)\nCarpet area: 800 sq.ft. (74.32 sq.m.) \nsq.ft.,"2 Bedrooms , 2 Bathrooms, 3 Balconies with Study Room",8th of 12 Floors,North,Main Road,1 to 5 Year Old,https://www.99acres.com/2-bhk-bedroom-apartment-flat-for-sale-in-mapsko-paradise-sector-83-gurgaon-1050-sq-ft-r5-spid-K77223679,['Millennium City Centre Gurugram\nRaheja Mall\nNH 48\nVivekanand school\nGurugram Univ Kankrola Sec 87\nGenesis Hospital'],"{'Transaction Type': ':, Resale', 'Property Ownership': ':, Freehold', 'Flooring': ':, Vitrified', 'Furnishing': ':, Semifurnished', 'Width of facing road': ':, 60.0 Feet', 'Gated Community': ':, Yes', 'Corner Property': ':, Yes', 'Parking': ':, 1 Covered', 'WheelChair Friendly': ':, Yes', 'Pet Friendly': ':, Yes', 'Water Source': ':, 24*7 Water,Municipal corporation,Borewell/Tank', 'Power Backup': ':, Full', 'Property Code': ':, K77223679'}"
0,Vipul Lavanya\n3.6,"Vipul Lavanya\nSector 81, Gurgaon","₹ 1.05 Crore+ Govt Charges & Tax\n@ 8,400 per ...",Super Built up area 1250\n(116.13 sq.m.)\nCarp...,"2 Bedrooms , 2 Bathrooms, 2 Balconies with Others",10th of 14 Floors,East,"Pool,Park/Garden,Club,Others",5 to 10 Year Old View Construction Status,https://www.99acres.com/2-bhk-bedroom-apartmen...,['Millennium City Centre Gurugram\nTown Square...,"{'Transaction Type': ':, Resale', 'Property Ow..."

In [6]:
df.duplicated().sum()

np.int64(2723)

In [7]:
column_names = [
    "Name",
    "Address",
    "Price",
    "Area",
    "Configuration",
    "Floor",
    "Facing",
    "Overlooking",
    "PropertyAge",
    "URL",
    "NearbyPlaces",
    "details"
]

df.columns = column_names

In [8]:
df.head(1)

,Name,Address,Price,Area,Configuration,Floor,Facing,Overlooking,PropertyAge,URL,NearbyPlaces,details
0,Vipul Lavanya\n3.6,"Vipul Lavanya\nSector 81, Gurgaon","₹ 1.05 Crore+ Govt Charges & Tax\n@ 8,400 per ...",Super Built up area 1250\n(116.13 sq.m.)\nCarp...,"2 Bedrooms , 2 Bathrooms, 2 Balconies with Others",10th of 14 Floors,East,"Pool,Park/Garden,Club,Others",5 to 10 Year Old View Construction Status,https://www.99acres.com/2-bhk-bedroom-apartmen...,['Millennium City Centre Gurugram\nTown Square...,"{'Transaction Type': ':, Resale', 'Property Ow..."

In [9]:
df = df.drop_duplicates()

In [10]:
df.shape

(3345, 12)

In [15]:
df.to_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\raw_file.csv')

In [18]:
df2 = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\gurgaon_properties_cleaned_v1.csv')

In [19]:
df2.head(1)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet a...,3,2,2,not available,2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...",NaN,"['Lift(s)', 'Park']"

In [20]:
df3 = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Data Preprocessing New\gurgaon_properties.csv')

In [21]:
df.head(1)

,Name,Address,Price,Area,Configuration,Floor,Facing,Overlooking,PropertyAge,URL,NearbyPlaces,details
0,Vipul Lavanya\n3.6,"Vipul Lavanya\nSector 81, Gurgaon","₹ 1.05 Crore+ Govt Charges & Tax\n@ 8,400 per ...",Super Built up area 1250\n(116.13 sq.m.)\nCarp...,"2 Bedrooms , 2 Bathrooms, 2 Balconies with Others",10th of 14 Floors,East,"Pool,Park/Garden,Club,Others",5 to 10 Year Old View Construction Status,https://www.99acres.com/2-bhk-bedroom-apartmen...,['Millennium City Centre Gurugram\nTown Square...,"{'Transaction Type': ':, Resale', 'Property Ow..."

In [24]:
df3.duplicated().sum()

np.int64(3797)

In [27]:
df3 = df3.drop_duplicates()

In [28]:
df3.to_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\raw_file_2.csv')

In [61]:
df4 = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\raw_file_1.csv')
df5 = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Raw Data\raw_file_2.csv')

In [62]:
print(df4.columns)
print(df5.columns)

Index(['Name', 'Address', 'Price', 'Area', 'Configuration', 'Floor', 'Facing',
       'Overlooking', 'Property Age', 'URL', 'Nearby Places', 'details'],
      dtype='object')
Index(['Name', 'Address', 'Price', 'Area', 'Configuration', 'Floor', 'Facing',
       'Overlooking', 'Property Age', 'URL', 'Nearby Places', 'details'],
      dtype='object')

In [63]:
df5 = pd.concat([df4, df5], axis= 0)

In [64]:
df5.shape

(9650, 12)

In [65]:
df5.duplicated().sum()

np.int64(0)

In [66]:
df4.shape

(3345, 12)

In [67]:
df4.columns

Index(['Name', 'Address', 'Price', 'Area', 'Configuration', 'Floor', 'Facing',
       'Overlooking', 'Property Age', 'URL', 'Nearby Places', 'details'],
      dtype='object')

In [68]:
df5.to_csv(r'C:\Users\aryan\OneDrive\Desktop\Capstone Project\Data Preprocessing New\uncleaned_gurgaon_properties.csv')