In [8]:
import pandas as pd

In [9]:
df1 = pd.read_csv(r"C:\Users\aryan\OneDrive\Desktop\Capstone Project\Data Preprocessing New\raw_gurgaon_data.csv")
df2 = pd.read_csv(r"C:\Users\aryan\OneDrive\Desktop\Web Scraping\gurgaon_properties_part5.csv")

In [10]:
df1['details'].isnull().sum()

np.int64(1159)

In [11]:
df2['details'].isnull().sum()

np.int64(877)

In [12]:
df2 = df2[~(df2['details'].isnull())]

In [13]:
df2.head(2)

,Unnamed: 0,Name,Address,Price,Area,Configuration,Floor,Facing,Overlooking,Property Age,URL,Nearby Places,details
88,1123,"Block-A, DLF City Phase 1, Gurgaon",North-West,"Block-A, DLF City Phase 1, Gurgaon",Plot area 500\n(418.06 sq.m.) \nsq.yards,"₹ 18.5 Crore\n@ 3,70,000 per sq.yards (All inc...",Yes,Yes,1,"Main Road,Others",https://www.99acres.com/residential-land-plot-...,['Dlf phase 1 metro station\nSikandarpur metro...,"Transaction Type: :, Resale | Property Ownersh..."
99,1278,"Block-A, DLF City Phase 1, Gurgaon",North-West,"Block-A, DLF City Phase 1, Gurgaon",Plot area 500\n(418.06 sq.m.) \nsq.yards,"₹ 18.5 Crore\n@ 3,70,000 per sq.yards (All inc...",Yes,Yes,1,"Main Road,Others",https://www.99acres.com/residential-land-plot-...,['Dlf phase 1 metro station\nSikandarpur metro...,"Transaction Type: :, Resale | Property Ownersh..."

In [14]:
df1 = df1[~(df1['details'].isnull())]

In [15]:
df1['details'].isnull().sum()

np.int64(0)

In [16]:
df = pd.concat([df1, df2], axis= 0)

In [17]:
print(df.shape)
print(df1.shape)
print(df2.shape)

(10177, 13)
(9895, 12)
(282, 13)

In [18]:
df.to_csv(r"Data Preprocessing New/gurgaon_properties.csv")